.works {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    padding: 2px 25px;
    height: 800px
}

.works > img {
    width: calc(100% / 4 - 15px);
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgba(0,0,0,0.05), 0 16px 16px rgba(0,0,0,0.05);
}


@media screen and (min-width: 774px) and (max-width: 955px) {
    .works {
        height: 1200px;
    }
    
    .works > img {
        width: calc(100% / 3 - 15px);
    }
}

@media screen and (min-width: 582px) and (max-width: 773px) {
    .works {
        height: 2000px;
    }
    
    .works > img {
        width: calc(100% / 2 - 15px);
    }
}

@media screen and (max-width: 581px) {
    .works {
        height: initial;
    }
    
    .works > img {
        width: calc(100%);
    }
}